<h1> School </h1>

  <p>
    ID: <%= @school.id %>
    UID: <%= @school.uid %>
    Obese Percentage: <%= @school.obese_percentage %>
    Overweight Percentage: <%= @school.overweight_percentage %>
  </p>
