<h1> School </h1>

  <ul>
    <li> ID: <%= @school.id %> </li>
    <li> UID: <%= @school.uid %> </li>
    <li> Obese Percentage: <%= @school.obese_percentage %> </li>
    <li> Overweight Percentage: <%= @school.overweight_percentage %> </li>
  </ul>
